/*
 * OpenUI's artifacts are set in Inter (their `--openui-font-body`), which
 * their package does not ship. Inter is Rasmus Andersson's, under the SIL
 * Open Font Licence 1.1 (`fonts/README.md`); the variable file covers
 * every weight the deck and the report use.
 */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
